:root {
    /*  Pass color (purple to match screenshot)  */
    --first: #0166fe;
    /*  strip colors (green, brown, pink to match screenshot) */
    --stripone: #c0401b;
    --striptwo: #171b00;
    --stripthree: #292931;
}
