:root {
    /*  Pass color (purple to match screenshot)  */
    --first: #f95b5c;
    /*  strip colors (green, brown, pink to match screenshot) */
    --stripone: #c5f3c5;
    --striptwo: #a05870;
    --stripthree: #b9f989;
}
