:root {
    /*  Pass color (purple to match screenshot)  */
    --first: #fecad6;
    /*  strip colors (green, brown, pink to match screenshot) */
    --stripone: #6f8f50;
    --striptwo: #42af6b;
    --stripthree: #60d2f4;
}
